

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: auto;
}

#root {
    min-height: 100vh;
  }

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}